<h2>Eventos</h2>
<hr>

<!-- form.form-inline>.form-group.mb-2 -->
<form action="" class="form-inline">
    <div class="form-group mb-2">
        <!-- input.form-control.mr-2[placeholder=buscar] -->
        <input type="text" class="form-control mr-2" placeholder="buscar">
        <!-- btn.btn.btn-outline--success -->
        <button class="btn btn-outline--success"></button>
    </div>
</form>
<!-- table.table.table-striped>.(thead.thead-dark>tr>th*8) -->
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>
          <button></button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtd Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>